:root{
    --azul:#093ce5;
    --branca:#dbdbdb;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Eventos principais*/

body{
    background: var(--branca);
    font-family: 'Arial', Times, serif;
    color: white;
}

header{
    background: var(--branca);
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}

.menu {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0; 
}

header .logo{
    margin-left: 5px;
    color: var(--azul);
    font-family: 'Arial Black';
    font-size: 40px;
}

.logo i{
    margin-right: 10px;
}


header nav a{
    text-decoration: none;
    color: #093ce5;
    margin-right: 10px;

}

header nav a:hover{
    color:rgb(0, 0, 0)
}

/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url("../img/capa-lords.jpg");

    height: 500px;  
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 20px;
    margin-bottom: 90px;
}

.filme-principal .titulo {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 1s ease all;
    text-transform: none;
    text-decoration: none;
}

.botao:hover{
    background-color: var(--azul);
    color: white;
      
}

.botao a {
    text-transform: none;
    text-decoration: none;
    color:white;
}
.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
    
}

.filme-principal .container {
    width: 70%;
}

.box-livros{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}

    

/* Modal */

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    
    z-index: 10;

}

.modal-content {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    height: auto;
    background-color: var(--branca);
    padding: 0;
    box-shadow: 0 0 2px #fff;
    border-radius: 10px;

       
}

.modal-header h2{
    font-weight: bold;
    text-align: center;
    color: white;
}

.modal-header p{
    text-align: center;
}
.modal-header, .modal-body, .modal-footer{
    padding: 10px;
}

.modal-header{
    background-color:var(--azul) ;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer{
    background-color: var(--branca);
    text-align: end;
    
    border-radius: 10px;
}

.modal-body{
        overflow: auto;
        color: black;
        font-family: "Arial";
}

.modal-body img {
    height: 100%;
    width: 40%;
    float: left;
    margin-right: 3%;
    
}

.btn-modal{
    background-color: var(--azul);
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(57, 0, 189);
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    color: #FFF;
}

.btn-modal:hover {
    background-color: rgb(57, 0, 189);;
}

.modal-footer a {
    text-transform: none;
    text-decoration: none;
    color:white;
}